{% extends 'father.html' %}
{% block content %}
<h1>Sobre Mi:</h1><br>
<p>Mi nombre es Juan Saenz Valiente, tengo 32 años y soy de la ciudad de Bella Vista, Buenos Aires.<br>
toda mi vida le hui a la informatica, no porque me resulte dificil sino porque me resultaba demasiado facil y por alguna razon pareciera que me gustaba complicarme la vida.<br>
eventualmente entre al mundo de la tecnologia, y dentro de eso la programacion en el que me quiero adentrar cada dia mas, ya que me encanta.
</p>







{% endblock %}