{% extends 'father.html' %}
{% block title%}{{ post.receta}}{% endblock %}
{% block content %}
  
        <h1>{{ post.receta }} </h1>
        <small>Por: {{ post.author.last_name }} - {{post.fecha_post}}<br>
        <hr>
        {%if user.is_authenticated%}
              {% if user.id == post.author.id %}
              - <a href="{% url 'editar_receta' post.pk %}">Editar</a>
                <a href="{% url 'borrar_receta' post.pk %}">Borrar</a>
              {% endif %}
        {%endif%}
        </small>         

        <p>{{ post.body|safe }}</p>
        <br/><br/>
        <a href="{% url 'index' %}" class="btn btn-dark">Atras</a>

{% endblock %}