{% extends 'father.html' %}
{% block content %}
{% if user.is_authenticated %}
        <h1>Escribe tu mensaje</h1>
        <br/><br/>

    <div class="form-control">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-dark" type="submit">Enviar</button>
        </form>
    </div>

    <script>
    var name = "{{user.id}}";
    document.getElementById('sender').value = name;
    </script>

{% else %}
    <h1>estos no son los androides que estas buscando</h1>
{% endif %}
{% endblock  %}